* {
  box-sizing: border-box;
  cursor: none;
}

.cursor {
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border: white solid 1px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innercircle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: white;
  margin: 0;
  padding: 0;
}